#one-col-section{
    background: #f0f0f0;
    padding:11%;
}
.one-col-section-container{
    background: #0b0f2c;
    color: #47d7ac;
    
}
.one-col-section-container p{
    font-size:2.2em;
    margin: 0;
    text-align: center;
    padding: 100px 0;
    font-weight: 400;
}
.one-col-section-container span{
    display: block;
}
@media screen and (max-width: 992px) {
    .one-col-section-container p{
        font-size:1.8em;
        padding: 50px 20px;
    }
}
@media screen and (max-width: 768px) {

    #one-col-section{
        padding:5%;
    }
    .one-col-section-container p{
        font-size:1.2em;
        padding: 50px 20px;
    }
}