.TrainerItem img {
    width: 100%;
    border-radius: 50%;
}
.TrainerItem-name {
    padding-top: 5%;
    font-weight: 600;
    font-size: 2rem;
}
.TrainerItem-position {
    font-style: italic;
    color: #47d7ac;
    font-size: 1.2rem;
}