.textSliderAlumniSection {
    padding: 11%;
    background: #f0f0f0;
    color: #0b0f2c;
}
.textSliderAlumniArticle, .textSliderAlumniIcon {
    background: #ffffff;
}
.textSliderAlumniArticle {
    padding: 0 2rem;
}
.textSliderAlumniIcon {
    padding: 2rem;
}

.textSliderAlumniText {
    font-size: 1.8em;
    line-height: 2em;
}
.textSliderAlumniFooter {
    padding-top: 8em;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.textSliderAlumniButton {
    display: flex;
}
.textSliderAlumniSource p {
    margin-bottom: 0;
}
.textSliderAlumniSource p:first-of-type {
    text-transform: uppercase;
    letter-spacing: 1px;
}

.textSliderAlumniSource {    
    display: flex;
    font-weight: 200;
    /* color: rgba(11, 15, 44, 0.6); */
    align-items: center;
}
.textSliderAlumniSource img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 20px;
}
.textSliderAlumniButtonBack, .textSliderAlumniButtonForward {
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
}
.textSliderAlumniButtonBack {
    color: rgba(11, 15, 44, 0.6);   
}
.textSliderAlumniQuote {
    font-size: 1.5em;
}

@media screen and (max-width: 992px) {
    .textSliderAlumniText {
        font-size: 1em;
    }
    .textSliderAlumniFooter {
        padding-top: 3em;
    }
}
@media screen and (max-width: 768px) {
    
}