.noMoney-container {
    background: #00DEAC;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto;
    padding: 5% 0 20%;
    box-shadow: inset 10vw 23vh #f0f0f0, inset 10vw -20vh #f0f0f0;
}

.noMoney-aside {
    width: 60%;
    margin: 0 auto;
    position: relative;
    z-index: 6666;
    grid-row: span 2;
}

.noMoney-aside h1, .noMoney-aside h2 {
    letter-spacing: 3px;
    font-size: 4em;
    font-weight: 400;
}

.noMoney-aside a {
    font-size: 1.1em;
    font-weight: 500;
    padding-bottom: 8px;
    letter-spacing: 3px;
    color: #0b0f2c;
    text-transform: uppercase;
    border-bottom: 3px solid #0b0f2c;
}

.noMoney-aside p {
    font-size: 2.2em;
    letter-spacing: 5px;
    padding: 40% 0 5%;
}

.noMoney-textExpand {
    margin-top: 61%;
    /* box-shadow: -38vw -35vh 0 #00DEAC, 0 -35vh 0 #00DEAC, -38vw 0 0 #00DEAC, 0 35vh 0 #00DEAC, -38vw 35vh 0 #00DEAC ;  */
}

@media screen and (max-width: 992px) {
    .noMoney-container {
        font-size: .9em;
        grid-template-columns: auto;
        box-shadow: inset 10vw 18vh #f0f0f0;
    }
    .noMoney-textExpand {
        margin-top: 5vh;
        box-shadow: 10vw 18vh #00DEAC;
        padding-left: 5%;
    }
    .noMoney-aside {
        grid-row: 1
    }
    .noMoney-aside p {
        padding: 20% 0 5%;
        font-size: 1.8em;
    }
    
}
@media screen and (max-width: 768px) {
    .noMoney-container {
        font-size: .8em;
        box-shadow: inset 10vw 15vh #f0f0f0, inset 10vw -40vh #f0f0f0;
    }
}