#card{
    position: relative;
}
#carousel-card{
    position: absolute;
    top: 40%;
    right: 0;
}
#card .card-title-container{
    padding: 10% 10% 0;
    background: #f0f0f0;
    color: #0b0f2c;
}
#card .card-title{
    font-size: 3em;
    font-weight: 500;
    letter-spacing: 4px;
    font-family: 'Fira Mono', monospace;
    margin: 0;
    transform: translateY(28px);
}
#card .card-title span{
    display: block;
}
#card .card-description-container{
    background: #f0f0f0;
}
#card .card-description-container article{
    background: #47d7ac;
    padding:8% 10% ;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 2fr;
}
#card article p{
    margin-top: 0px;
    font-size: 1.1em;
}
#card article span{
}
.bg{
    height: 600px;
    background: #f0f0f0;
}
@media screen and (max-width: 992px) {
    #carousel-card,.bg{
        display: none;
    }
    #card .card-description-container article{
        width: 100%;
    }
    #card .card-title{
        font-size: 2em;
        transform: translateY(18px);
    }
}
@media screen and (max-width: 768px) {
    #card .card-description-container article{
        grid-template-columns: 1fr;
    }
    #card .card-title{
        font-size: 2em;
        transform: translateY(18px);
        
    }
}