.TextExpand {
    padding: 2% 0 2% 4%;
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

.TextExpand-container {
    display: grid;
    grid-template-columns: 90% 10%;
    background: #ffffff;
    
}
.TextExpand-type {
    font-style: italic;
    color: #00DEAC;
    font-size: 1.2em;
}

.TextExpand-date {
    font-style: italic;
    font-size: 1.2em;
}

.TextExpand-type-title {
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;
}

.TextExpand span {
    font-size: 2em;
    cursor: pointer;
}
.TextExpand-expand {
    padding: 20px 0;
    font-size: 1.2em;
    line-height: 2em;
    padding-right: 20px;
}