.TagesablaufCard {
    display: grid;
    grid-template-columns: 30% calc( 70% - 100px ) 100px;
    border-bottom: 2px solid #f0f0f0;
    padding: 2%;
}

.Tagesablauf-Time {
    font-style: italic;
    font-size: 1.2em;
}

.Tagesablauf-Info-type {
    font-style: italic;
    color: #00DEAC;
    font-size: 1.2em;
}

.Tagesablauf-Info-title {
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;
}

.Tagesablauf-Dauer {
    font-size: 1.2em;
}
.Tagesablauf-Dauer svg {
    margin-right: 10px;
}

@media screen and (max-width: 992px) {
    .Tagesablauf-Tagesablauf {
        background: #f0f0f0;
        
        box-shadow: inset 100px 0px #f0f0f0;
        background: #00DEAC;
    }
    .TagesablaufCard {
        background: #fff;
        margin-bottom: 30px;
        padding-left: 10vw;
        box-shadow: inset 5vw 0px #f0f0f0;
    }
}
@media screen and (max-width: 568px) {
    .Tagesablauf-Time {
      font-size: 0.8em;
    }

    .Tagesablauf-Info-type {
      font-size: 0.8em;
    }

    .Tagesablauf-Info-title {
      font-size: 1em;
    }

    .Tagesablauf-Dauer {
      font-size: 0.8em;
    }
}
