#partner{
    background: #f0f0f0;
}
.partner-container{
    width: 90%;
    background: #47d7ac;
    display: grid;
    grid-template-columns: 55% 400px;
    margin-bottom: 100px;
    gap:50px
}
.partner-container-text{
    padding:10% 0 10% 20%;
}
.partner-container-text p{
    font-size: 2.3em;
    word-spacing: 4px;
    color: #0b0f2c;
    line-height: 50px;
}
.partner-container-text small{
    font-size: 1.1em;
    color: #0b0f2c;
}
.partner-container-text small a{
    font-size: 1.1em;
    color: #0b0f2c;
    text-decoration: underline;
}
.partner-container-Carousel{
    transform: translateY(60px);
}
#partner .carousel-indicators{
    margin-top: 50px !important;
}
#partner .carousel-indicators li { 
    height: 0px !important;
    width: 20px !important;
    border-radius: 50% !important;
    background: #0b0f2c !important;}
#partner .bg{
    height: 100px;
}