.TextExpandDates {
    padding: 2% 0 2% 4%;
    background: #ffffff;
    border-bottom: 1px solid #f0f0f0;
}

.TextExpandDates-container {
    display: grid;
    grid-template-columns: 1.5fr 3fr 50px;
    background: #ffffff;
    
}
.TextExpandDates-type {
    font-style: italic;
    color: #00DEAC;
    font-size: 1.2em;
}

.TextExpandDates-date {
    font-style: italic;
    font-size: 1.2em;
}

.TextExpandDates-type-title {
    font-size: 1.8em;
    font-weight: 500;
    letter-spacing: 1px;
}

.TextExpandDates span {
    font-size: 2em;
    cursor: pointer;
}
.TextExpandDates-expand {
    padding: 20px 0;
    font-size: 1.2em;
    line-height: 2em;
}

@media screen and (max-width: 768px) {
    .TextExpandDates-container {
        grid-template-columns: 90% 10%;
        grid-template-areas: 
        "date button"
        "title title";
    }
    .TextExpandDates-date {
        grid-area: date;
    }
    .TextExpandDates-button {
        grid-area: button;
    }
    .TextExpandDates-infos {
        grid-area: title;
    }
}