.trainer-carousel .carousel-caption {
    position: relative;
    right: 0;
    left: 10%;
    text-align: left;
    bottom: 0;
}
.trainer-carousel img {
    border-radius: 50%;
}
.trainer-carousel .SliderControle span {
    font-weight: 400;
    cursor: pointer;
}
.trainer-carousel .slideArrowPrev {
    color: #0b0f2c9d;
}
.trainer-carousel .slideArrowNext {
    padding-left: 10px;
    color: #0b0f2c;
}
.trainer-carousel .SliderControle {
    position: relative;
    z-index: 1;
    padding-top: 40px;
    font-size: 1.8em;
    display: flex;
    justify-content: flex-end;
}
.trainer-carousel h3 {
    color: #0b0f2c;
}
.trainer-carousel p {
    color: #47d7ac;
    font-style: italic;
}
@media screen and (max-width: 992px) {
    .trainer-carousel .carousel-caption p {
        padding-left: 0%;
        left: 0;
    }
}
@media screen and (max-width: 768px) {
    
}